<html>
    <head>
        <title>Choi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Choi's blog</a></h1>
        </div>
        <div>
            <p>published: 04.11.2019, 22:25</p>
            <h2><a href="">My first post</a></h2>
            <p>I don't like peanut butter.</p>
        </div>
        <div>
            <p>published: 04.11.2019, 22:25</p>
            <h2><a href="">My second post</a></h2>
            <p>I dislike seafoods.</p>
        </div>
    </body>
</html>
